{{!-- Agrega la plantilla por defecto que contiene configuraciones predeterminadas --}}
{{!< default}}
<header class="container">
	{{!-- Titulo del blog --}}
	<h1 class="page-title">{{@blog.title}}</h1>
	{{!-- Descripción del blog --}}
  <h2 class="page-description">{{@blog.description}}</h2>    
</header>

<main role="main" class="container">
  {{!-- Incluye el bucle de los posts - partials/loop.hbs --}}
  {{> "loop"}}
</main>

{{!-- Anterior/Siguiente enlaces de paginas --}}
{{pagination}}